.select {
  color: #ffffff;
  height: 2.1rem;
  font-size: 0.9rem;
  font-family: inherit;
  background-color: #323943;
  border: none;
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  padding: 0.1rem 0 0.2rem 0.4rem;
  outline: 1px solid #64748e;

  border-right: 0.4rem solid transparent;
}
