@use "../../styles/media-queries.scss" as *;

.gridEditor {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    ". col-sizes ."
    "row-sizes grid options"
    ". . options";

  @include lt-lg {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;

    grid-template-areas:
      ". col-sizes"
      "row-sizes grid"
      "options options";
  }
}
